//////////////// Helper //////////////////
.text-shadow {
  text-shadow: 2px 2px 3px #000000;
}

.no-padding {
  padding: 0;
}

.icon-block {
  padding: 0 15px;

  .material-icons {
    font-size: inherit;
  }

  .light {
    text-align: left;
    // text-align: justify;

    // &:after {
    //   content: "";
    //   display: inline-block;
    //   width: 100%;
    // }
  }
}

/////////////////////////////////////
.nav-wrapper {
  // background-color: red;
}

.main-container {
  .first-content {
    height: 120vh;
    margin-bottom: 0;

    .parallax-custom {
      display : flex;
      align-items : center;
    }

    .contact {
      position: relative;
      top: 30vh;
    }
  }

  .second-content {
    @extend .first-content;

    height: auto;
    text-align: center;

    .parallax-custom {
      padding: 40px;
    }
  }

  .third-content {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 0
  }

  .fourth-content {
    margin-bottom: 0;
    
    .col {
      padding: 0;      
    }
  }
}

footer {
  &.page-footer {
    margin-top: 0;
  }
}