//////////////// Helper //////////////////
.text-shadow {
  text-shadow: 2px 2px 3px #000000;
}

.no-padding {
  padding: 0;
}

.icon-block {
  padding: 0 15px;

  .material-icons {
    font-size: inherit;
  }

  .light {
    text-align: left;
    // text-align: justify;

    // &:after {
    //   content: "";
    //   display: inline-block;
    //   width: 100%;
    // }
  }
}

//////////////// Body /////////////////////
.nav-wrapper {
  // background-color: red;
}

.main-container {
  .first-content {
    height: 120vh;
    margin-bottom: 0;

    .parallax-custom {
      display : flex;
      align-items : center;
    }

    .contact {
      position: relative;
      top: 30vh;
    }
  }

  .second-content {
    @extend .first-content;

    height: auto;
    text-align: center;

    .parallax-custom {
      padding: 40px;
    }
  }

  .third-content {
    &-head {
      text-align: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 30px;
      margin-bottom: 0
    }

    &-body {
      margin-bottom: 0;
      
      .col {
        padding: 0;      
      }
    }
  }

  .fourth-content {
    &-head {
      @extend .third-content-head;
    }

    &-body {
      .card-facebook {
        height: 310px;
      }

      .card {
        &.horizontal {
          .card-image {
            &-facebook {
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-align-items: center;
              -ms-flex-align: center;
              align-items: center;
              color: grey;
              width: 50px;
              font-size: 35px;
              padding: 11px;
              height: 138px;
            }

            &-line {
              @extend .card-image-facebook;               
            }
          }
        }
      }
    }
  }
}

footer {
  &.page-footer {
    margin-top: 0;
  }
}


////////////// google map///////////////
#map {
  width: 100%;
  height: 200px;
  background-color: grey;
}